@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;

  --color-secondary: #fe806b;
  --color-paragraph: #565e6b;
  --color-dark: #191919;
  --color-gray: #565e6b;
  --color-btn-hover: #e57360;
  --color-btn-active: #cb6656;
}

@layer components {
  .form-input {
    color: lightgray;
    background-color: #1f2937;
    border: 1px solid #374151;
    border-radius: 0.375em;
    padding: 0.5em 0 0.5em 1em;
    &:focus,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}
